@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  margin: 0;
  height: 95vh;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-style: normal;
  background: url("/images/pexel.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

.search-after{
  display: none;
  width: 100%;
  text-align: center;
}


#myVideo{
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
}

.container {
  min-height: 94.5vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  grid-gap: 1.1rem;
  padding: 1.1rem;
}

.current {
  grid-area: 1/1/2/2;
  border-radius: 15px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.temp-details{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.1rem 2rem;
  font-size: 1.1rem;
}

.temp-details .icon{
  position: relative;
  top: 30px;
  left: 30px;
}

.search{
  text-align: center;
  margin-bottom: 2rem;

}

input{
  border: none;
  font-size: 1.3rem;
  padding: 6px 8px;
  width: 70%;
  margin: 12px;
  border-radius: 8px;
  background-color: rgb(183, 207, 215);
  color: black;
  font-family: "Outfit", sans-serif;
}

::placeholder{
  color: darkgrey;
  font-family: "Outfit", sans-serif;
}

button{
  position: relative;
  top: 4px;
  padding: 4px;
  border: none;
  border-radius: 8px;
  background-color: rgb(183, 207, 215);
  cursor: pointer;
  z-index: 10;
}

button:focus{
  background-color: #202020;
}

.forecast {
  grid-area: 2/1/3/2;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  padding: 1.3rem;
  min-height: 180px;
}



.forecast img{
  height: 5rem;
  position: relative;
  top: 10px;
}

.six, .nine, .twelve, .fifteen, .eighteen, .twenty-one{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-right: 1px solid gray; */
}

.twenty-one{
  border-right: none;
}

.details {
  grid-area: 3/1/4/2;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;

}

.sunrise, .sunset, .humidity, .rain{
  display: flex;
  align-items: center;
  gap: 20px;
}

.week-forecast {
  grid-row: 1 / span 3;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.week-forecast{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.week-forecast .content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;

  border-bottom: 1px solid gray;
}

.week-forecast .last{
  border-bottom: none;
}

.content p {
  flex: 1;
  text-align: center;
}

.content .icon{
  flex: 0;
}



@media (min-width: 320px) and (max-width: 970px) {
  .container {
    grid-template-rows: 0.5fr 0.3fr 0.3fr 0.3fr;
  }
  .forecast{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
  }
  .six, .nine, .twelve, .fifteen, .eighteen, .twenty-one{
    width: auto;
    height: 100px;
  }

  .current,
  .details,
  .forecast {
    grid-column: 1 / span 2;
  }

  .week-forecast {
    grid-area: 4/1/5/3;
    padding-top: 15px;
  }

  .week-forecast .content{
    font-size: 1.1rem;
  }

  .search{
    display: none;
  }

  .search-after{
    display: block;
  }

  .search-after img{
    height: 20px;
  }

  .temp-details{
    font-size: 0.8rem;
  }

  .temp-details img{
    height: 100px;
  }

  button{
    top: 0px;
    padding: 8px;
    margin-right: 8px;
  }
  
  .details{
    font-size: 12px;
  }

  .details-icon img{
    height: 40px;
  }

}
